.label {
    display: block;
    vertical-align: middle;
}

.parentFrame {
    float: left;
    clear: none;
}

.mapFrame {
    width: 75vw;
    display: inline-block;
}

.configFrame {
    vertical-align: top;
    display:inline-grid;
}

.mapView {
    height:90vh;
}

.searchBox {
    text-align: center;
    font-size: 18px;
    font-style: oblique;
}