<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.12.1"
            src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="http://maps.google.com/maps/api/js"></script>
    <script src="./node_modules/ngmap/build/scripts/ng-map.min.js" type="application/javascript"></script>
    <script src="./index.js"></script>
    <link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet"
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./index.css">
    <title>Apartment Digger</title>
</head>
<body ng-app="apartmentDigger">

<div ng-controller="mainController as ctl">
    <div class="searchBox">
        <button ng-click="ctl.reloadApartments()">Reload apartments</button>
        <label>Apartment Term
            <input type="radio" ng-model="ctl.apartmentTerm" id="apartmentTermShort" value="short">Short
            <input type="radio" ng-model="ctl.apartmentTerm" id="apartmentTermLong" value="long">Long
        </label>
        <br>
        <label>Search
            <input id="searchText" type="search" ng-model="ctl.searchText" placeholder="Filter apartments" value="">
        </label>
        <button ng-click="ctl.clearCurrentMarker()">Clear selection</button>
    </div>

    <div class="parentFrame">
        <div class="mapFrame">
            <ng-map center="{{ctl.getCurrentMarker()}}" class="mapView">
                <marker ng-repeat="point in ctl.positions | filter: ctl.searchText"
                        position="{{point.coordinates}}"
                        title="{{point.id}}"
                        on-click="ctl.setCurrentMarker(point)"
                        icon="{{point.icon}}"></marker>
            </ng-map>
        </div>
        <div id="markerData" class="formInputs configFrame">
            <label>Apartment
                <a href="https://www.immobilienscout24.de/expose/{{ctl.currentMarker._id}}"
                   target="_blank">Apartment</a>
            </label>
            <label>Relevant?
                <input type="checkbox" ng-model="ctl.currentMarker.isActive" id="isRelevant" name="Relevant">
            </label>
            <label>Approximate?
                <input type="checkbox" ng-model="ctl.currentMarker.isApproximateAddress" id="isApproximate"
                       name="Approximate">
            </label>
            <label>Size
                <input type="text" ng-model="ctl.currentMarker.size" id="size" name="Size">
            </label>
            <label>Rooms
                <input type="text" ng-model="ctl.currentMarker.rooms" id="rooms" name="Rooms">
            </label>
            <label>Pets
                <input type="text" ng-model="ctl.currentMarker.pets" id="pets" name="Pets">
            </label>
            <label>Floor
                <input type="text" ng-model="ctl.currentMarker.floor" id="floor" name="Floor">
            </label>
            <label>Top Floor
                <input type="text" ng-model="ctl.currentMarker.topFloor" id="topFloor" name="Top Floor">
            </label>
            <label>Price (total)
                <input type="text" ng-model="ctl.currentMarker.price" id="price" name="Price">
            </label>
            <label>Company
                <input type="text" ng-model="ctl.currentMarker.company" id="company" name="Company">
            </label>
            <input type="submit" value="Update" ng-click="ctl.updateCurrentMarker(ctl.currentMarker)">
            <input type="button" value="Delete" ng-click="ctl.deleteCurrentMarker(ctl.currentMarker)">
            <label>Images
                <p ng-repeat="picture in ctl.currentMarker.pictures">
                    <a href={{picture}} target="_blank">
                        <img src={{picture}} width="300px" href={{picture}}/>
                    </a>
                </p>

            </label>
        </div>
    </div>
</div>

</body>
</html>