<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">New Apartment</h4>
</div>
<div class="modal-body">
    <label class="block">Activity
        <input type="text" ng-model="ctl.newMarker._id" id="apartment" name="Apartment">
    </label>
    <label class="block">Coordinates
        <input type="text" ng-model="ctl.newMarker.coordinates" id="coordinates" name="Coordinates" ng-readonly=true>
    </label>
</div>
<div class="modal-footer" ng-controller="newActivityController">
    <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="$close()">Add apartment</button>
</div>